# ── PocketBase ──
POCKETBASE_ADMIN_EMAIL=admin@smartwinery.local
POCKETBASE_ADMIN_PASSWORD=securepassword

# ── MinIO ──
MINIO_ROOT_USER=admin_winery
MINIO_ROOT_PASSWORD=SmartPassword123!

# ── Cloudflare Tunnel ──
CLOUDFLARE_TUNNEL_TOKEN=

# ── Logs ──
LOG_LEVEL=info
